<div class="inicio">
  <div class="imagen">
    <img src="./assets/fondo/img1.png" class="img-fluid imagen" alt="...">
  </div>
  <div class="box">
    <div class="contact info">
      <h3>Tipos de Seguros</h3>
      <div class="wrapper">
        <a [routerLink]="['/services','auto']">
          <div class="boton">
            <div class="icon">
              <img src="./assets/icons/auto.png">
            </div>
            <span>Auto</span>
          </div>
        </a>
       <a [routerLink]="['/services','avion']">
        <div class="boton">
          <div class="icon">
            <img src="./assets/icons/avion.png">
          </div>
          <span>Viajes</span>
        </div>
       </a>
        <a [routerLink]="['/services','vida']">
          <div class="boton">
            <div class="icon">
              <img src="./assets/icons/cruz.png">
            </div>
            <span>Vida</span>
          </div>
        </a>
        <a [routerLink]="['/services','medico']">
          <div class="boton">
            <div class="icon">
              <img src="./assets/icons/corazon.png">
            </div>
            <span>Medicos</span>
          </div>
        </a>
        <a [routerLink]="['/services','empresa']">
          <div class="boton">
            <div class="icon">
              <img src="./assets/icons/edificio.png">
            </div>
            <span>Empresariales</span>
          </div>
        </a>
        <a [routerLink]="['/services','resguardo']">
          <div class="boton">
            <div class="icon">
              <img src="./assets/icons/candado.png">
            </div>
            <span>Resguardo</span>
          </div>
        </a>
        <a [routerLink]="['/services','tecnologia']">
          <div class="boton">
            <div class="icon">
              <img src="./assets/icons/compu.png">
            </div>
            <span>Tecnologia</span>
          </div>
        </a>
        <a [routerLink]="['/services','maritimo']">
          <div class="boton">
            <div class="icon">
              <img src="./assets/icons/barco.png">
            </div>
            <span>Maritimo</span>
          </div>
        </a>
        <a [routerLink]="['/services','carga']">
          <div class="boton">
            <div class="icon">
              <img src="./assets/icons/camion.png">
            </div>
            <span>Carga</span>
          </div>
        </a>
        <a [routerLink]="['/services','finanza']">
          <div class="boton">
            <div class="icon">
              <img src="./assets/icons/moneda.png">
            </div>
            <span>Finazas</span>
          </div>
        </a>
        <a [routerLink]="['/services','construccion']">
          <div class="boton">
            <div class="icon">
              <img src="./assets/icons/engrane.png">
            </div>
            <span>Construcción</span>
          </div>
        </a>
        <a [routerLink]="['/services','respon']">
          <div class="boton">
            <div class="icon">
              <img src="./assets/icons/persona.png">
            </div>
            <span>Responsabilidad</span>
          </div>
        </a>
        <a [routerLink]="['/services','casa']">
          <div class="boton">
            <div class="icon">
              <img src="./assets/icons/casa.png">
            </div>
            <span>Daños</span>
          </div>
        </a>
      </div>
    </div>
    <div class="contact form">
      <p><b>Imas Seguros</b> es un contrato por medio del cual la Empresa Aseguradora, contra el pago de una prima, se obliga a relevar al Asegurado, en los términos convenidos, de las consecuencias de un evento dañoso e incierto; la prestación de la Aseguradora consiste en resarcir el daño o pagar una suma de dinero. </p>
    </div>
    <div class="map">
      <h1 style="padding-top: 50px;">Asociaciones</h1>
      <div class="text-center">
        <img src="./assets/aseguradoras/logo1.png">
        <img src="./assets/aseguradoras/logo2.jpg">
        <img src="./assets/aseguradoras/logo3.png">
        <img src="./assets/aseguradoras/logo4.jpg">
        <img src="./assets/aseguradoras/logo5.png">
        <img src="./assets/aseguradoras/logo6.jpeg">
        <img src="./assets/aseguradoras/logo7.png">
        <img src="./assets/aseguradoras/logo8.png">
        <img src="./assets/aseguradoras/logo9.png">
        <img src="./assets/aseguradoras/logo10.png">
        <img src="./assets/aseguradoras/logo11.png">
        <img src="./assets/aseguradoras/logo12.png">
      </div>
    </div>
  </div>

</div>
