
.contactUs h1{
  text-align: center;
  position: relative;
  font-size: 40px;
  color: #1a4c5d;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.contactUs h1::after{
  content: '';
  position: absolute;
  width: 170px;
  height: 3px;
  background: #da4042;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.contactUs{
  position:relative;
  width: 100%;
  padding: 40px 100px;

}

.contactUs .title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.contactUs .title h2{
  color: #1a4c5d;
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 10px;
}
.form{
  grid-area: form;
}
.info{
  grid-area: info;
}
.map{
  grid-area: map;
}
.contact{
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0,0.5);
}
.box{
  position:relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: "form info" "form map";
  grid-gap: 20px;
}

.contact h3{
  color: #1a4c5d;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.formBox{
  position: relative;
  width: 100%;
}

.formBox .row50{
  display: flex;
  gap: 20px;
}

.inputBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox{
  width: 100%;
}

.inputBox span{
  color: #1a4c5d;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputBox textarea{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.inputBox input[type="submit"]{
  background: #1a4c5d;
  color: #fff;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}

.inputBox ::placeholder{
  color:#999
}

.info{
  background: #1a4c5d;
}

.info h3{
  color: #fff;
  margin-bottom: 30px;
}

.info .infobox div{
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.info .infobox div span{
  min-width: 40px;
  height: 40px;
  color: #fff;
  background: #78abbb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5em;
  margin-right: 15px;
}


.info .infobox div p{
  color: #fff;
}

.info .infobox div a{
  color: #fff;
  text-decoration: none;
}

.sci{
  margin-top: 30px;
  display: flex;

}

.sci li{
  list-style: none;
  margin-right: 25px;
}

.sci li a{
  font-size: 2em;

}

.map{
  padding: 0%;
}

.map iframe{
  width: 100%;
  height: 100%;
}

@media (max-width:991px){

.box{
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "form" "info" "map";
}

.map{
  min-height: 300px;
}

.formBox .row50{
  display: flex;
  gap: 0;
  flex-direction: column;
}

.inputBox{
  width: 100%;
}

.contactUs{
  position:relative;
  width: 100%;
  padding: 40px 40px;

}

}
