
<div class="service">
  <div class="max-width">
    <h1>Nuestros Servicios</h1>
    <div class="contents">
      <div class="cards" [routerLink]="['/services','vida']">
        <div class="boxs">
          <img src="./assets/icons/cruz.png">
          <h3>Seguro de Vida</h3>
        </div>
      </div>
      <div class="cards" [routerLink]="['/services','medico']">
        <div class="boxs">
          <img src="./assets/icons/corazon.png">
          <h3>Seguro de Gastos Médicos Mayores</h3>
        </div>
      </div>
      <div class="cards" [routerLink]="['/services','auto']">
        <div class="boxs">
          <img src="./assets/icons/auto.png">
          <h3>Seguro de Autos</h3>
        </div>
      </div>
      <div class="cards" [routerLink]="['/services','casa']">
        <div class="boxs">
          <img src="./assets/icons/casa.png">
          <h3>Seguro de Daños</h3>
        </div>
      </div>
      <div class="cards" [routerLink]="['/services','empresa']">
        <div class="boxs">
          <img src="./assets/icons/edificio.png">
          <h3>Seguro de Bienes Empresariales</h3>
        </div>
      </div>
      <div class="cards" [routerLink]="['/services','respon']">
        <div class="boxs">
          <img src="./assets/icons/persona.png">
          <h3>Seguro de Responsabilidad Civil</h3>
        </div>
      </div>
      <div class="cards" [routerLink]="['/services','construccion']">
        <div class="boxs">
          <img src="./assets/icons/engrane.png">
          <h3>RC Construcción</h3>
        </div>
      </div>
      <div class="cards" [routerLink]="['/services','finanza']">
        <div class="boxs">
          <img src="./assets/icons/moneda.png">
          <h3>Finanzas</h3>
        </div>
      </div>
      <div class="cards" [routerLink]="['/services','carga']">
        <div class="boxs">
          <img src="./assets/icons/camion.png">
          <h3>Seguro de Carga</h3>
        </div>
      </div>
      <div class="cards" [routerLink]="['/services','avion']">
        <div class="boxs">
          <img src="./assets/icons/avion.png">
          <h3>Seguro de Viajes</h3>
        </div>
      </div>
      <div class="cards" [routerLink]="['/services','maritimo']">
        <div class="boxs">
          <img src="./assets/icons/barco.png">
          <h3>Seguro Marítimo</h3>
        </div>
      </div>
      <div class="cards" [routerLink]="['/services','resguardo']">
        <div class="boxs">
          <img src="./assets/icons/candado.png">
          <h3>Resguardo</h3>
        </div>
      </div>
      <div class="cards" [routerLink]="['/services','tecnologia']">
        <div class="boxs">
          <img src="./assets/icons/compu.png">
          <h3>Tecnología</h3>
        </div>
      </div>
      <div class="cards" [routerLink]="['/services','membresia']">
        <div class="boxs">
          <img src="./assets/icons/tarjeta.png">
          <h3>Membresía IMAS</h3>
        </div>
      </div>
    </div>
  </div>
</div>


