<footer class="pie-pagina">
  <div class="grupo-1">
    <div class="box">
      <figure>
        <a href="#">
          <img src="./assets/img/IMAS-sin fondo_Mesa de trabajo 1 copia 5.png" alt="">
        </a>
      </figure>
    </div>
    <div class="box mayus">
      <h2>Sobre Nosotros</h2>
      <p>es momento de proteger a tu familia.</p>

    </div>
    <div class="box">
      <h2>Siguenos</h2>
      <div class="red-social">
        <a href="https://www.facebook.com/imasseguros">
          <i class="icon ion-logo-facebook"></i>
        </a>
        <a href="https://www.instagram.com/imasseguros/">
          <i class="icon ion-logo-instagram"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="grupo-2">
    <small>&copy; 2022 <b>Grupo Imas</b>- Todos los Derechos Reservados.</small>
  </div>
</footer>
