.menus{
  position: absolute;
  z-index: 10;
  width: 100%;
}

.alinear{
  align-content: flex-end;
}

.navbar{
  padding: 20px 0;
}

.navbar-brand{
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2em;
  color: #78abbb
}

.bg-menu{
  background: #78abbb
}

.nav-item a{
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}


